@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Ogólne */

main{
  background: #373636;
  /*background: #434242;*/
  font-family: 'Manrope';
  box-sizing: border-box
}

.regulamin{
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.regulamin h1{
  font-size: 30px;
  font-weight: 700;
}

.regulamin h2{
  font-size: 19px;
  font-weight: 700;
  padding-top: 30px;
}

.regulamin h1,h2,p, ul{
  margin-bottom: 20px;
}
