@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Ogólne */
  html {
    scroll-behavior: smooth;
  }

  main{
    background: #373636;
    /*background: #434242;*/
    font-family: 'Manrope';
    box-sizing: border-box
  }

  .baner {
    padding: 0rem 2rem;
    padding-bottom: 1rem;
  }

  .baner-kolumny {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1210px;
    margin: 0 auto;
  }

  .baner-lewo {
    flex: 1 1 47%;
    padding-right: 2rem;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .baner-lewo h1 {
    font-size: 3.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 60px;
    color: #fdfdfd;
  }
  
  .baner-lewo p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    font-weight: 200;
    color: #d5d5d5;
  }

  .przycisk-strzalka {
    display: inline-flex;
    align-items: center;
    background-color: #cf0031;
    color: #fff;
    padding: 0.2rem 1.5rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.5s ease;
    gap: 0.3rem;
    align-self: start;
    font-weight: 300;
  }

  .przycisk-strzalka:hover {
    box-shadow: 0 4px 40px #cf0031;
  }

  .strzalka-kolo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px #ffffff77;
    border-radius: 0%;
    width: 52px;
    height: 52px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem;
    position: relative;
    left: 17px;
  }

  .baner-prawo {
    flex: 1 1 50%;
    text-align: right;
    position: relative;
    width: 100%;
    max-width: 800px;
    display: block;
  }

  .baner-prawo img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 50px;
    margin-left: auto;
  }

  .okienko-container-1 {
    position: absolute;
    top: 50%;
    left: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
  }

  .okienko-1 {
    position: absolute !important;
    width: 180px;
    max-width: 180px !important;
    top: 10% !important;
    right: 10%;
    transform: translate(0%, 0%);
    z-index: 10;
    opacity: 0.95 !important;
    animation: okienko-1 17s linear infinite;
    transform-origin: top right;
  }

  @keyframes okienko-1 {
    0% {
      transform: scale(0);
    }
    10% {
      transform: scale(0);
    }
    12% {
      transform: scale(1);
    }
    21% {
      transform: scale(1);
    }
    24% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  .okienko-container-2 {
    position: absolute;
    top: 20%;
    left: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
  }

  .okienko-2 {
    position: absolute !important;
    width: 180px;
    max-width: 180px !important;
    top: 44% !important;
    right: 43%;
    z-index: 10;
    opacity: 1 !important;
    transform: translate(85%, -45%);
    opacity: 0.95 !important;
    animation: okienko-2 17s linear infinite;
    transform-origin: bottom right;
  }

    @keyframes okienko-2 {
    0% {
      transform: scale(0) translate(85%, 0%);
    }
    34% {
      transform: scale(0) translate(85%, 0%);
    }
    37% {
      transform: scale(1) translate(85%, 0%);
    }
    46% {
      transform: scale(1) translate(85%, 0%);
    }
    49% {
      transform: scale(0) translate(85%, 0%);
    }
    100% {
      transform: scale(0) translate(85%, 0%);
    }
  }

  .okienko-container-3 {
    position: absolute;
    top: 15%;
    left: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
  }

  .okienko-3 {
    position: absolute !important;
    width: 160px;
    max-width: 160px !important;
    top: 44% !important;
    right: 43%;
    z-index: 10;
    opacity: 1 !important;
    transform: translate(85%, -45%);
    opacity: 0.95 !important;
    animation: okienko-3 17s linear infinite;
    transform-origin: bottom right;
  }

    @keyframes okienko-3 {
    0% {
      transform: scale(0) translate(0%, 0%);
    }
    59% {
      transform: scale(0) translate(0%, 0%);
    }
    62% {
      transform: scale(1) translate(0%, 0%);
    }
    71% {
      transform: scale(1) translate(0%, 0%);
    }
    74% {
      transform: scale(0) translate(0%, 0%);
    }
    100% {
      transform: scale(0) translate(0%, 0%);
    }
  }


  .okienko-container-4 {
    position: absolute;
    top: 65%;
    left: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
  }

  .okienko-4 {
    position: absolute !important;
    width: 190px;
    max-width: 190px !important;
    top: 44% !important;
    right: 43%;
    z-index: 10;
    opacity: 1 !important;
    transform: translate(0%, 0%);
    opacity: 0.95 !important;
    animation: okienko-4 17s linear infinite;
    transform-origin: top right;
  }

    @keyframes okienko-4 {
    0% {
      transform: scale(0) translate(0%, 120%);
    }
    84% {
      transform: scale(0) translate(0%, 120%);
    }
    87% {
      transform: scale(1) translate(0%, 120%);
    }
    96% {
      transform: scale(1) translate(0%, 120%);
    }
    99% {
      transform: scale(0) translate(0%, 120%);
    }
    100% {
      transform: scale(0) translate(0%, 120%);
    }
  }


  /*reponsywność*/
  /* LAPTOP (1025px–1366px) */
 @media (max-width: 1440px) {
    .baner-lewo h1 {
      font-size: 3rem;
      line-height: 50px;
    }

    .baner-lewo p {
      font-size: 1rem;
    }

    .przycisk-strzalka {
      font-size: 0.95rem;
    }

    .strzalka-kolo {
      width: 46px;
      height: 46px;
      left: 14px;
    }

    .okienko-1,
    .okienko-2,
    .okienko-3,
    .okienko-4 {
      width: 150px;
      max-width: 150px !important;
    }
  }

  /* TABLET (768px–1024px) */
  @media (max-width: 1025px) {
    .baner-kolumny {
      flex-direction: column;
      padding-top: 130px;
      text-align: center;
    }

    .baner-lewo {
      flex: 1 1 100%;
      padding-right: 0;
      align-items: center;
    }

    .baner-lewo h1 {
      font-size: 2.4rem;
      line-height: 45px;
    }

    .baner-lewo p {
      font-size: 1rem;
      max-width: 600px;
    }

    .przycisk-strzalka {
      font-size: 0.9rem;
      padding: 0.4rem 1.4rem;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      display: none;
    }

    .strzalka-kolo {
      width: 42px;
      height: 42px;
      left: 10px;
    }

    .baner-prawo {
      text-align: center;
      margin-top: -120px;
      margin-bottom: -80px;
    }

    .baner-prawo img {
      top: 20px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .okienko-1,
    .okienko-2,
    .okienko-3,
    .okienko-4 {
      width: 120px;
      max-width: 120px !important;
    }
  }

  /* TELEFON (do 767px) */
  @media (max-width: 767px) {
    .baner {
      padding: 2rem 1rem;
    }

    .baner-kolumny {
      padding-top: 50px;
    }

    .baner-lewo h1 {
      font-size: 1.9rem;
      line-height: 38px;
      margin-bottom: 0px;
    }

    .baner-lewo p {
      font-size: 0.95rem;
    }

    .przycisk-strzalka {
      font-size: 0.85rem;
      padding: 0.4rem 1rem;
    }

    .strzalka-kolo {
      width: 36px;
      height: 36px;
      left: 8px;
    }

    .okienko-1,
    .okienko-2,
    .okienko-3,
    .okienko-4 {
      display: none; /* opcjonalnie: ukrywamy animacje na małych ekranach */
    }

    .baner-prawo img {
      max-width: 80%;
      top: 0;
    }

    .baner-prawo {
      text-align: center;
      margin-top: -60px;
      margin-bottom: -90px;
    }
  }


  /*biała-sekcja*/


.segment-bialy {
  display: flex;
  justify-content: center;
  margin: 6rem 0rem;
  scroll-margin-top: 270px; 
}

.segment-bialy-box {
  background-color: #ffffff;
  max-width: 1200px;
  padding: 4.4rem;
  text-align: center;
  border-radius: 30px;
}

.segment-bialy-box .wstep{
  display: flex;
  text-align: left;
  margin-bottom: 90px;
  align-items: center;
}

.lewa-kolumna-wstep{
  display: flex;
  align-items: center;
  padding-right: 3rem;
  padding-left: 1.5rem;
}

.lewa-kolumna-wstep a {
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 25px;
  color: rgb(36, 36, 36);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.lewa-kolumna-wstep img {
  width: 105px;
  min-width: 105px;
}

.prawa-kolumna-wstep{
  color: #313131;
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  flex: 1 1 65%;
  border-left: solid 1px rgba(36, 36, 36, 0.384);
  padding-left: 3rem;
  padding-right: 1rem;
}

.kafelki {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kafelek {
  flex: 1 1 160px;
  max-width: 130px;
  text-align: center;
}

.kafelek p{
  color: #313131;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-top: 20px;
}

.ikona {
  font-size: 4.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background: #cf0031;
  padding: 0.7rem;
  border-radius: 10px;
}

/*reponsywność*/
  /* LAPTOP (1025px–1366px) */
 @media (max-width: 1440px) {
    .segment-bialy-box {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

/* TABLET (768px–1024px) */
  @media (max-width: 1025px) {
    .segment-bialy {
      margin: 4rem 1rem;
    }

    .segment-bialy-box {
      padding: 3rem 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .segment-bialy-box .wstep {
      flex-direction: column;
      text-align: center;
      margin-bottom: 3rem;
    }

    .lewa-kolumna-wstep {
      padding: 0;
      justify-content: center;
      margin-bottom: 1.5rem;
      text-align: left;
    }

    .lewa-kolumna-wstep a {
      font-size: 1.3rem;
    }

    .prawa-kolumna-wstep {
      font-size: 20px;
      line-height: 30px;
      border-left: none;
      padding: 0px 5rem;
    }

    .kafelki{
      row-gap: 3rem;
    }

    .kafelek {
      flex: 1 1 240px;
      max-width: 240px;
    }

    .ikona {
      font-size: 4rem;
      padding: 0.6rem;
    }

    .kafelek p {
      font-size: 15px;
    }
  }

/* TELEFON (do 767px) */
  @media (max-width: 767px) {
    .segment-bialy-box {
      padding: 2.5rem 1rem;
    }

    .lewa-kolumna-wstep img {
      width: 90px;
      min-width: 90px;
    }

    .lewa-kolumna-wstep a {
      font-size: 1rem;
      line-height: 20px;
    }

    .prawa-kolumna-wstep {
      font-size: 17px;
      line-height: 26px;
      padding: 0px 2rem;
    }

    .kafelki {
      flex-wrap: wrap;
    }

    .kafelek {
      flex: 1 1 45%;
      max-width: 45%;
    }

    .ikona {
      font-size: 3.2rem;
      padding: 0.5rem;
    }

    .kafelek p {
      font-size: 14px;
    }
  }


/*sekcja-uslugi*/

.sekcja-uslugi {
  padding: 6rem 2rem;
  background: #202020;
}

.uslugi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.kafelek-uslugi {
  background: #373636;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.06);
  transition: transform 0.3s;
}
.kafelek-uslugi:hover {
  transform: translateY(-5px);
}
.kafelek-uslugi .ikona {
  font-size: 3.8rem;
  margin: 0px;
  margin-bottom: 1rem;
  background-color: white;
  color: #cf0031;
}

.kafelek-uslugi h3 {
  font-size: 1.4rem;
  margin: 0;
}

.kafelek-uslugi p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #a1a1a1;
}

/*responsywność*/

/* Laptopy (<= 1680px) */
@media (max-width: 1440px) {
  .sekcja-uslugi {
    padding: 5rem 1.5rem;
  }

  .uslugi-grid {
    gap: 1.5rem;
  }

  .kafelek-uslugi {
    padding: 1.5rem;
    gap: 0.8rem;
  }

  .kafelek-uslugi .ikona {
    font-size: 3.2rem;
    margin-bottom: 0.8rem;
  }

  .kafelek-uslugi h3 {
    font-size: 1.2rem;
  }

  .kafelek-uslugi p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

/* TABLET (768px–1024px) */
@media (max-width: 1025px) {
  .sekcja-uslugi {
    padding: 4rem 1rem;
  }

  .uslugi-grid {
    gap: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .kafelek-uslugi {
    padding: 1.5rem;
    gap: 0.75rem;
  }

  .kafelek-uslugi .ikona {
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  .kafelek-uslugi h3 {
    font-size: 1.2rem;
  }

  .kafelek-uslugi p {
    font-size: 0.9rem;
  }
}

/* TELEFON (do 767px) */
@media (max-width: 767px) {
  .sekcja-uslugi {
    padding: 3rem 1rem;
  }

  .uslugi-grid {
    grid-template-columns: 1fr;
    gap: 1.25rem;
  }

  .kafelek-uslugi {
    padding: 1.2rem;
  }

  .kafelek-uslugi .ikona {
    font-size: 2.5rem;
  }

  .kafelek-uslugi h3 {
    font-size: 1.1rem;
  }

  .kafelek-uslugi p {
    font-size: 0.85rem;
  }
}


/*funkcje-segment*/


.funkcje-segment {
  max-width: 1300px;
  margin: 5rem auto;
  padding: 0 2rem;
  text-align: center;
}

.funkcje-segment h2 {
  font-size: 2.3rem;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.funkcje-segment .lead {
  color: #ccc;
  margin-bottom: 5rem;
  font-size: 21px;
  font-weight: 100;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.funkcje-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.funkcje-lewa, .funkcje-prawa {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.funkcja {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  align-items: flex-start;
}

.funkcja .ikona {
  font-size: 3rem;
  color: #ffffff;
  flex-shrink: 0;
  background: linear-gradient(197deg, rgb(133, 2, 32) 30%, rgb(207 0 49) 100%);
  margin: 0px;
}

.funkcja p {
  margin: 0;
  font-size: 17px;
  color: #ddd;
}

.funkcja b {
  color: #fff;
}

.funkcje-obraz {
  flex: 1 1 280px;
  text-align: center;
}

.funkcje-obraz img {
  max-width: 370px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.funkcja.odwrotnie {
  flex-direction: row-reverse;
  text-align: right;
  align-items: flex-start;
}

/*reponsywność*/

/* Laptopy (<= 1680px) */
@media (max-width: 1440px) {
  .funkcje-grid {
    gap: 1rem;
  }

  .funkcje-segment {
    padding: 0 1.5rem;
  }

  .funkcje-segment h2 {
    font-size: 2rem;
  }

  .funkcje-segment .lead {
    font-size: 19px;
    margin-bottom: 4rem;
  }

  .funkcja .ikona {
    font-size: 2.6rem;
  }

  .funkcja p {
    font-size: 16px;
  }

  .funkcje-lewa,
  .funkcje-prawa {
    gap: 3rem;
  }

  .funkcje-obraz img {
    max-width: 300px;
  }
}

/* TABLET (768px–1024px) */
@media (max-width: 1024px) {
  .funkcje-grid {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .funkcje-lewa,
  .funkcje-prawa {
    width: 100%;
    gap: 2.5rem;
    align-items: center;
  }

  .funkcja,
  .funkcja.odwrotnie {
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
  }

  .funkcja .ikona {
    font-size: 2.6rem;
  }

  .funkcja p {
    font-size: 16px;
  }

  .funkcje-obraz {
    order: 1;
  }

  .funkcje-obraz img {
    max-width: 280px;
  }

  .funkcje-segment h2 {
    font-size: 2rem;
  }

  .funkcje-segment .lead {
    font-size: 18px;
    margin-bottom: 3rem;
  }
}

/* TELEFON (do 767px) */
@media (max-width: 767px) {
  .funkcje-segment {
    padding: 0 1rem;
  }

  .funkcje-segment h2 {
    font-size: 1.7rem;
  }

  .funkcje-segment .lead {
    font-size: 16px;
  }

  .funkcja .ikona {
    font-size: 2.3rem;
  }

  .funkcja p {
    font-size: 15px;
  }

  .funkcje-obraz img {
    max-width: 240px;
  }
}

/*sekcja-mapa*/

.sekcja-mapa {
  padding: 1rem 2rem;
  padding-top: 7rem;
  background: linear-gradient(187deg, rgb(32 32 32) 30% 30%, rgb(55 54 54) 100%);
}

.mapa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  max-width: 1300px;
  margin: 0 auto;
}

.tekst-lewo{
  margin-top: -70px;
}

.tekst-lewo h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 40px;
}

.tekst-lewo p {
  color: #ccc;
  margin-bottom: 1.6rem;
  font-size: 21px;
  font-weight: 100;
}

.grafika-prawo img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tekst-widget {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.minus{
  justify-content: center;
  align-items: center;
  display: flex;
}

.tekst-widget .ikona-minus {
  font-size: 2rem;
  color: #cf0031;
  flex-shrink: 0;
}


/*responsywność*/

/* Laptopy (<= 1680px) */
@media (max-width: 1440px) {
  .tekst-lewo h2 {
    font-size: 2rem;
    line-height: 36px;
  }

  .tekst-lewo p {
    font-size: 18px;
    line-height: 30px;
  }

  .tekst-widget .ikona-minus {
    font-size: 1.7rem;
  }

  .grafika-prawo img {
    max-width: 90%;
    padding: 0;
  }
}

/* TABLET I TELEFON (do 1024px) */
@media (max-width: 1024px) {
  .mapa-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .tekst-lewo {
    margin-top: 0;
  }

  .tekst-lewo h2 {
    font-size: 1.8rem;
    line-height: 32px;
  }

  .tekst-lewo p {
    font-size: 17px;
    margin-bottom: 1.5rem;
  }

  .tekst-widget {
    justify-content: center;
  }

  .tekst-widget .ikona-minus {
    font-size: 1.5rem;
  }

  .grafika-prawo img {
    max-width: 50%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TELEFON (do 767px) */
@media (max-width: 767px) {
  .sekcja-mapa {
    padding: 4rem 1rem;
  }

  .tekst-lewo h2 {
    font-size: 1.6rem;
    line-height: 30px;
  }

  .tekst-lewo p {
    font-size: 15.5px;
  }

  .tekst-widget .ikona-minus {
    font-size: 1.3rem;
  }

  .grafika-prawo img {
    border-radius: 0.75rem;
    max-width: 80%;
  }
}



/* zachęta */

.zacheta-kontakt {
  background: #373636;
  color: white;
  text-align: center;
  padding: 7rem 1rem;
  margin-top: 1rem;
}

.zacheta-kontakt h2 {
  font-size: 2.55rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
}

.zacheta-kontakt p {
  color: #ccc;
  margin-bottom: 2rem;
  font-size: 21px;
  font-weight: 100;
}

.formularz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

.formularz input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  max-width: 400px;
  font-size: 25px;
  width: 100%;
  background: white;
  color: black;
}

.formularz button {
  padding: 1.25rem 2.25rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background: #cf0031;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.formularz button:hover {
  box-shadow: 0 4px 60px #cf0031;
}

.albo {
  margin-top: 1rem;
}

.albo span {
  color: #9ca3af;
  margin-right: 0.5rem;
}

.btn-link {
  color: #cf0031;
  text-decoration: underline;
  font-weight: bold;
}


  /* Laptopy (<= 1680px) */
  @media (max-width: 1440px) {
    .zacheta-kontakt h2 {
      font-size: 2.2rem;
    }

    .zacheta-kontakt p {
      font-size: 18px;
    }

    .formularz {
      margin-top: 3.5rem;
    }

    .formularz input {
      padding: 0.95rem 1rem;
      font-size: 23px;
    }

    .formularz button {
      padding: 1.2rem 2.15rem;
      font-size: 1.1rem;
      margin-top: 10px;
    }
}

  /* Tablet i telefon - zmniejszamy padding i ikony */
  @media (max-width: 1025px) {
    .zacheta-kontakt h2 {
      font-size: 2.2rem;
    }

    .zacheta-kontakt p {
      font-size: 18px;
    }

    .formularz {
      margin-top: 3.5rem;
    }

    .formularz input {
      padding: 0.95rem 1rem;
      font-size: 20px;
    }

    .formularz button {
      padding: 1.1rem 2.15rem;
      font-size: 1.0rem;
      margin-top: 10px;
    }
  }
  
  /* Telefon - optymalizacja siatki i ikon */
  @media (max-width: 767px) {

    .zacheta-kontakt h2 {
      font-size: 1.9rem;
    }

    .zacheta-kontakt p {
      font-size: 16px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .zacheta-kontakt {
      padding: 2.5rem 2rem;
    }

    .formularz {
      gap: 0.75rem;
      margin-top: 3rem;
    }

    .formularz input {
      font-size: 18px;
      padding: 0.95rem 0.9rem;
      max-width: 300px;
    }

    .formularz button {
      font-size: 1rem;
      padding: 0.9rem 1.6rem;
    }

    .albo span {
      font-size: 14px;
    }

    .btn-link {
      font-size: 14px;
    }
  }