@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Ogólne */

  .container{
    background: #373636;
    /*background: #434242;*/
    font-family: 'Manrope';
    box-sizing: border-box
  }

  .appBannerSection {
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    padding-top: 110px;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle, rgb(85 85 85) 0%, rgb(55 54 54) 45%, rgb(55 54 54) 100%);
    height: 100vh;
  }

  .appBannerSection h1 {
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 30px;
    line-height: 45px;
    font-family: 'Inter';
    background: linear-gradient(90deg, #2582f5, #044499);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .appBannerSection p {
    color: #d5d5d5;
    max-width: 1100px;
    margin: 0 auto 5rem auto;
    font-size: 28px;
    font-weight: 100;
    line-height: 35px;
  }

  .orbitWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
  }

  .orbit1,
  .orbit2,
  .orbit3 {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .orbit1 {
    width: 1200px;
    height: 500px;
    top: 250px;
  }

  .orbit2 {
    width: 600px;
    height: 300px;
    top: 200px;
  }

  .orbit3 {
    width: 900px;
    height: 400px;
    top: 220px;
  }

  .centerPhone {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .phoneImage {
    max-width: 320px;
    animation: phone-scale 25s linear infinite;
  }

  @keyframes phone-scale {
    0%, 2% {
      transform: scale(0);
    }
    3%, 98% {
      transform: scale(1);
    }
    99%, 100% {
      transform: scale(0);
    }
  }

  .orbitAnimator1,
  .orbitAnimator2,
  .orbitAnimator3,
  .orbitAnimator4 {
    position: absolute;
    top: 51%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
  }

  .orbitingObject1,
  .orbitingObject2,
  .orbitingObject3,
  .orbitingObject4 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .orbitingObject1 {
    width: 185px;
    height: 185px;
    animation: rotateOrbit1 25s linear infinite;
  }

  @keyframes rotateOrbit1 {
    0%, 2% {
      transform: translate(-36vh, -6vh) scale(0);
    }
    3%, 4% {
      transform: translate(-36vh, -6vh) scale(1);
    }
    50% {
      transform: translate(-46vh, -8vh);
    }
    96% {
      transform: translate(-58vh, -13vh);
    }
    97%, 100% {
      transform: translate(-58vh, -13vh) scale(0);
    }
  }

  .orbitingObject2 {
    width: 160px;
    height: 160px;
    animation: rotateOrbit2 25s linear infinite;
  }

  @keyframes rotateOrbit2 {
    0%, 2% {
      transform: translate(20vh, -51vh) scale(0);
    }
    3%, 4% {
      transform: translate(20vh, -51vh) scale(1);
    }
    50% {
      transform: translate(35vh, -46vh);
    }
    96% {
      transform: translate(44vh, -41vh);
    }
    97%, 100% {
      transform: translate(44vh, -41vh) scale(0);
    }
  }

  .orbitingObject3 {
    width: 160px;
    height: 160px;
    animation: rotateOrbit3 25s linear infinite;
    z-index: 10;
  }

  @keyframes rotateOrbit3 {
    0%, 2% {
      transform: translate(42vh, -24vh) scale(0);
    }
    3%, 4% {
      transform: translate(42vh, -24vh) scale(1);
    }
    50% {
      transform: translate(35vh, -17vh);
    }
    96% {
      transform: translate(23vh, -12vh);
    }
    97%, 100% {
      transform: translate(23vh, -12vh) scale(0);
    }
  }

  .orbitingObject4 {
    width: 120px;
    height: 120px;
    animation: rotateOrbit4 25s linear infinite;
  }

  @keyframes rotateOrbit4 {
    0%, 2% {
      transform: translate(-54vh, -34vh) scale(0);
    }
    3%, 4% {
      transform: translate(-54vh, -34vh) scale(1);
    }
    50% {
      transform: translate(-48vh, -40vh);
    }
    96% {
      transform: translate(-37vh, -46vh);
    }
    97%, 100% {
      transform: translate(-37vh, -46vh) scale(0);
    }
  }

  /* Laptops (<= 1440px) */
  @media (max-width: 1440px) {
    .appBannerSection {
      padding-top: 80px;
    }

    .appBannerSection h1 {
      font-size: 2.4rem;
      line-height: 40px;
    }

    .appBannerSection p {
      font-size: 22px;
      line-height: 30px;
      padding: 0 1rem;
    }

    .centerPhone {
      top: 25%;
    }

    .phoneImage {
      max-width: 290px;
    }

    .orbitWrapper {
      top: -5%;
    }

    .orbit1 {
      width: 1100px;
      height: 400px;
      top: 200px;
    }

    .orbit2 {
      width: 600px;
      height: 170px;
      top: 160px;
    }

    .orbit3 {
      width: 900px;
      height: 270px;
      top: 170px;
    }

    .orbitingObject1 {
      width: 165px;
      height: 165px;
    }

    .orbitingObject2 {
      width: 140px;
      height: 140px;
    }

    .orbitingObject3 {
      width: 140px;
      height: 140px;
    }

    .orbitingObject4 {
      width: 100px;
      height: 100px;
    }
  }

  /* Tablets (<= 1025px) */
  @media (max-width: 1025px) {
    .appBannerSection h1 {
      font-size: 2.4rem;
      line-height: 40px;
    }

    .appBannerSection p {
      font-size: 22px;
      line-height: 30px;
      padding: 0 1rem;
    }

    .centerPhone {
      top: 25%;
    }

    .phoneImage {
      max-width: 230px;
    }

    .orbitWrapper {
      top: -12%;
    }

    .orbit1 {
      width: 900px;
      height: 300px;
      top: 200px;
    }

    .orbit2 {
      width: 500px;
      height: 130px;
      top: 160px;
    }

    .orbit3 {
      width: 700px;
      height: 200px;
      top: 170px;
    }

    .orbitingObject1 {
      width: 160px;
      height: 160px;
    }

    .orbitingObject2 {
      width: 135px;
      height: 135px;
    }

    .orbitingObject3 {
      width: 135px;
      height: 135px;
    }

    .orbitingObject4 {
      width: 95px;
      height: 95px;
    }
  }

  /* Smartphones (<= 767px) */
  @media (max-width: 767px) {
    .appBannerSection {
      padding: 4rem 1rem;
      height: 85vh;
    }

    .appBannerSection h1 {
      font-size: 2.1rem;
      line-height: 36px;
    }

    .appBannerSection p {
      font-size: 16px;
      line-height: 28px;
      padding: 0 1rem;
    }

    .centerPhone {
      top: 23%;
    }

    .phoneImage {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .orbitWrapper {
      top: -15%;
    }

    .orbit1 {
      width: 410px;
      height: 150px;
      top: 170px;
    }

    .orbit2 {
      width: 240px;
      height: 90px;
      top: 160px;
    }

    .orbit3 {
      width: 330px;
      height: 120px;
      top: 165px;
    }

    .orbitingObject1,
    .orbitingObject2,
    .orbitingObject3,
    .orbitingObject4 {
      display: none;
    }
  }

  /* Zalety */

  .appFeaturesSection {
    background-color: rgb(47 47 47);
    margin-top: 100px;
    padding-bottom: 100px;
  }

  .appFeaturesBox {
    margin-top: 3.5rem;
    background: #ffffff;
    padding: 55px;
    border-radius: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 60px rgb(187 187 187 / 60%);
    position: relative;
    top: -40px;
  }

  .intro {
    display: flex;
    text-align: left;
    margin-bottom: 90px;
    align-items: center;
    padding: 0.5rem 1.1rem;
  }

  .leftIntroColumn {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    padding-left: 1.5rem;
  }

  .logoWrapper {
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 25px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .logoWrapper img {
    width: 105px;
    min-width: 105px;
  }

  .logoText {
    margin-left: 1rem;
  }

  .rightIntroColumn {
    color: #474747;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    flex: 1 1 65%;
    border-left: solid 1px rgba(36, 36, 36, 0.384);
    padding-left: 3rem;
    padding-right: 1rem;
  }

  .featuresGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    row-gap: 3rem;
  }

  .featureCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5;
    text-align: center;
    font-weight: 700;
    padding: 0.2rem 0.5rem;
  }

  .featureCard p {
    color: #313131;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
  }

  .icon {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    background: linear-gradient(90deg, #2582f5, #044499);
    padding: 0.7rem;
    border-radius: 0.75rem;
  }

  /* Laptopy (<= 1680px) */
  @media (max-width: 1440px) {
    .appFeaturesSection {
      padding-bottom: 40px;
    }

    .appFeaturesBox {
      max-width: 900px;
      padding-bottom: 55px;
    }

    .featureCard p {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
    }

    .icon {
      font-size: 3.6rem;
      padding: 0.75rem;
    }
  }

  /* Tablet i telefon */
  @media (max-width: 1025px) {
    .appFeaturesSection {
      padding: 0 2.5rem;
    }

    .appFeaturesBox {
      max-width: 800px;
    }

    .intro {
      flex-direction: column;
      text-align: center;
      margin-bottom: 4rem;
    }

    .leftIntroColumn {
      padding: 0;
      justify-content: center;
      margin-bottom: 1.5rem;
      text-align: left;
    }

    .logoWrapper {
      font-size: 1.3rem;
    }

    .rightIntroColumn {
      font-size: 20px;
      line-height: 30px;
      border-left: none;
      padding: 0 2rem;
    }

    .icon {
      font-size: 3.6rem;
      padding: 0.75rem;
    }

    .featureCard p {
      font-size: 16px;
    }
  }

  /* Smartfony (<= 767px) */
  @media (max-width: 767px) {
    .appFeaturesSection {
      padding: 0 2.5rem;
    }

    .featuresGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem;
    }

    .appFeaturesBox {
      padding: 40px 20px;
      margin: auto 1.5rem;
    }

    .intro {
      flex-direction: column;
      text-align: center;
      margin-bottom: 1rem;
    }

    .leftIntroColumn img {
      width: 90px;
      min-width: 90px;
    }

    .logoWrapper {
      font-size: 1rem;
      line-height: 20px;
    }

    .rightIntroColumn {
      font-size: 17px;
      line-height: 22px;
      padding: 0;
    }

    .featureCard {
      padding: 1rem;
      font-size: 14px;
    }

    .icon {
      font-size: 2.8rem;
      padding: 0.5rem;
    }

    .featureCard p {
      font-size: 14px;
      line-height: 19px;
    }
  }

  /* tekst grafika*/

  .appTypesGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    row-gap: 0.5rem;
    max-width: 1300px;
    margin: 0 auto;
    padding: 8rem 1.5rem;
  }

  .textColumn {
    flex: 1 1 42%;
    color: #ccc;
    font-size: 16px;
    row-gap: 3rem;
    display: grid;
    margin-top: -20px;
  }

  .textColumn p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }

  .imageColumn {
    flex: 1 1 40%;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .imageColumn img {
    max-width: 450px;
    height: auto;
    border-radius: 0.75rem;
  }

  .appTypesGrid h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
  }

  .appTypesGrid > p {
    color: #ccc;
    margin-bottom: 6rem;
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
  }

  .textWidget {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .iconApp {
    font-size: 2rem;
    background: #2583f500;
    color: #2582f5;
    flex-shrink: 0;
    transform: scaleX(1.5);
  }

  .textWidget p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
    margin: 0;
  }

  .iconMinus {
    font-size: 2rem;
    color: #2582f5;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 30px;
    padding-left: 8px;
  }

  .headingWidget{
    display: flex;
  }


  @media (max-width: 1440px) {
    .tekstGraphicGrid {
      max-width: 1150px;
    }

    .tekstGraphicGrid h2 {
      font-size: 2.0rem;
    }

    .tekstGraphicGrid > p {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 7rem;
    }

    .tekstGraphicGrid img {
      max-width: 80%;
      height: auto;
    }

    .textItem .icon {
      font-size: 1.9rem;
      transform: none;
    }

    .imageColumn img {
      max-width: 450px;
    }
  }

  @media (max-width: 1025px) {
    .tekstGraphicGrid {
      flex-direction: column;
      padding: 5rem 1rem;
      gap: 2rem;
      align-items: normal;
      max-width: 825px;
    }

    .tekstColumn {
      flex: 1 1 100%;
      font-size: 15px;
    }

    .appTypesGrid h2 {
      font-size: 1.8rem;
      line-height: 35px;
    }

    .appTypesGrid > p {
      font-size: 20px;
      line-height: 30px;
      margin-top: 1rem;
      margin-bottom: 5rem;
    }

    .imageColumn {
      flex: 1 1 100%;
      justify-content: center;
    }

    .tekstGraphicGrid img {
      max-width: 100%;
      height: auto;
      display: none;
    }

    .textItem .icon {
      font-size: 1.5rem;
      transform: none;
    }

    .imageColumn img {
      margin-top: 50px;
      width: 60%;
    }
  }

  @media (max-width: 767px) {
    .tekstGraphicGrid {
      padding: 4rem 1.8rem;
    }

    .appTypesGrid h2 {
      font-size: 1.5rem;
    }

    .appTypesGrid > p {
      font-size: 17px;
      line-height: 28px;
      margin-top: 1rem;
      margin-bottom: 5rem;
    }

    .textItem p {
      font-size: 0.95rem;
      line-height: 1.5;
    }

    .textItem .icon {
      font-size: 1.3rem;
    }

    .tekstColumn {
      row-gap: 2rem;
    }

    .minus {
      margin-right: 0.5rem;
    }
    .imageColumn img {
      width: 70%;
    }
  }

  /* technologie */
  
.integrationSection {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  padding: 0 1rem 50px;
  background: linear-gradient(357deg, rgb(47 47 47) 30%, rgb(37 130 245) 100%);
}

.integrationBox {
  position: relative;
  background: #ffffff;
  border-radius: 1rem;
  padding: 4rem;
  max-width: 1250px;
  width: 100%;
  box-shadow: 0 4px 60px rgba(187, 187, 187, 0.6);
  top: -50px;
}

.integrationBox h2 {
  font-size: 2rem;
  color: #474747;
  font-weight: 700;
}

.integrationBox p {
  color: #717171;
  margin-bottom: 4rem;
  font-size: 21px;
  font-weight: 300;
}

.textItem {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.integrationGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  row-gap: 4.5rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.integrationTile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.integrationTile img {
  height: 70px;
  width: auto;
  transition: filter 0.6s ease;
  margin: 0 auto;
}

.integrationTile img:hover {
  filter: grayscale(0%);
}


@media (max-width: 1440px) {
  .integrationSection h2 {
    font-size: 2.2rem;
  }

  .integrationBox p {
    font-size: 18px;
  }

  .integrationBox {
    max-width: 1070px;
  }

  .topIcon {
    font-size: 2.8rem;
    padding: 0.75rem;
  }

  .integrationTile img {
    height: 65px;
  }
}

@media (max-width: 1025px) {
  .integrationSection {
    margin: 3rem 0;
  }

  .integrationBox {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .integrationBox h2 {
    font-size: 2rem;
    line-height: 35px;
    margin-bottom: 1rem;
  }

  .integrationBox p {
    font-size: 18px;
  }

  .integrationGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    row-gap: 4rem;
    padding-bottom: 40px;
  }

  .integrationGrid p {
    font-size: 18px;
  }

  .integrationTile img {
    height: 65px;
  }

  .minus {
    margin-right: 5px;
    margin-top: -10px;
  }
}

@media (max-width: 767px) {
  .integrationSection {
    margin: 2rem 0;
  }

  .integrationBox {
    padding: 3rem 1rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .topIcon {
    font-size: 1.9rem;
    top: -25px;
    left: 6%;
  }

  .integrationBox h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .integrationBox p {
    font-size: 16px;
  }

  .integrationGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    row-gap: 2rem;
    padding-bottom: 20px;
  }

  .integrationTile img {
    height: 45px;
  }

  .integrationGrid p {
    font-size: 15px;
  }
}


/* call to action, zachęta do kontaktu*/

.ctaSection {
  background: #373636;
  color: white;
  text-align: center;
  padding: 7rem 1rem;
  padding-top: 2rem;
  margin-top: 1rem;
}

.ctaSection h2 {
  font-size: 2.55rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
}

.ctaSection p {
  color: #ccc;
  margin-bottom: 2rem;
  font-size: 21px;
  font-weight: 100;
}

.ctaForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

.ctaForm input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  max-width: 400px;
  font-size: 25px;
  width: 100%;
  background: white;
  color: black;
}

.ctaForm button {
  padding: 1.25rem 2.25rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background: #2582f5;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 20px;
}

.ctaForm button:hover {
  box-shadow: 0 4px 60px #2582f5;
}

.ctaAltAction {
  margin-top: 1rem;
}

.ctaAltAction span {
  color: #9ca3af;
  margin-right: 0.5rem;
}

.ctaLinkButton {
  color: #2582f5;
  text-decoration: underline;
  font-weight: bold;
}

.checkbox{
  display: flex;
}

.checkbox label{
  font-size: 15px;
  color: #ccc;
}

.checkbox input{
  width: auto;
  margin-right: 0.5rem;
}


/* ========== RESPONSIVE ========== */

/* Laptop (≤1440px) */
@media (max-width: 1440px) {
  .ctaSection h2 {
    font-size: 2.2rem;
  }

  .ctaSection p {
    font-size: 18px;
  }

  .ctaForm {
    margin-top: 3.5rem;
  }

  .ctaForm input {
    padding: 0.95rem 1rem;
    font-size: 23px;
  }

  .ctaForm button {
    padding: 1.2rem 2.15rem;
    font-size: 1.1rem;
    margin-top: 20px;
  }
}

/* Tablet + Mobile (≤1025px) */
@media (max-width: 1025px) {
  .ctaSection h2 {
    font-size: 2.2rem;
  }

  .ctaSection p {
    font-size: 18px;
  }

  .ctaForm {
    margin-top: 3.5rem;
  }

  .ctaForm input {
    padding: 0.95rem 1rem;
    font-size: 20px;
  }

  .ctaForm button {
    padding: 1.1rem 2.15rem;
    font-size: 1rem;
    margin-top: 10px;
  }
}

/* Mobile (≤767px) */
@media (max-width: 767px) {
  .ctaSection {
    padding: 2.5rem 2rem;
  }

  .ctaSection h2 {
    font-size: 1.9rem;
  }

  .ctaSection p {
    font-size: 16px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .ctaForm {
    gap: 0.75rem;
    margin-top: 3rem;
  }

  .ctaForm input {
    font-size: 18px;
    padding: 0.95rem 0.9rem;
    max-width: 300px;
  }

  .ctaForm button {
    font-size: 1rem;
    padding: 0.9rem 1.6rem;
  }

  .ctaAltAction span {
    font-size: 14px;
  }

  .ctaLinkButton {
    font-size: 14px;
  }
}
