@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Ogólne */

  .container{
    background: #373636;
    /*background: #434242;*/
    font-family: 'Manrope';
    box-sizing: border-box
  }

  .banner {
    height: 500px;
    background: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
  }

  .content {
    color: white;
    max-width: 1100px;
    padding-top: 30px;
  }

  .content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 45px;
    font-family: 'Inter';
    margin-bottom: 1rem;
  }

  .content p {
    color: #d5d5d5;
    max-width: 1100px;
    margin: 0 auto 0rem auto;
    font-size: 28px;
    font-weight: 100;
    line-height: 35px;
  }

  /* Laptops (<= 1680px) */
  @media (max-width: 1440px) {
    .banner {
      height: 450px;
    }

    .content h1 {
      font-size: 2.4rem;
    }

    .content p {
      font-size: 22px;
    }
  }

  /* Tablets (<= 1025px) */
  @media (max-width: 1025px) {
    .banner {
      height: 420px;
    }

    .content h1 {
      font-size: 2.4rem;
      line-height: 40px;
    }

    .content p {
      font-size: 22px;
      line-height: 30px;
    }
  }

  /* Smartphones (<= 767px) */
  @media (max-width: 767px) {
    .banner {
      height: 350px;
    }

    .content h1 {
      font-size: 2.2rem;
      line-height: 36px;
    }

    .content p {
      font-size: 16px;
      line-height: 28px;
    }
  }

.supportTypes {
  max-width: 1100px;
  margin: 6rem auto;
}

.supportTypesGrid {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  color: #b1b1b1;
}

.supportTypesGrid button {
  display: inline-flex;
  align-items: center;
  padding: 2.6rem 2.2rem;
  min-width: 400px;
  border-radius: 10px;
  background: #585858;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  transition: background 0.2s ease;
  text-align: left;
}

.iconBtn {
  margin-right: 0.8rem;
  font-size: 2rem;
  vertical-align: middle;
}

.supportButton .buttonText {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.supportButton .title {
  font-size: 1.2rem;
  font-weight: 800;
}

.supportButton .subtitle {
  font-size: 0.95rem;
  color: #cf0031;
}

.supportTypesGrid .active {
  background-color: #ffffff;
  color: #292929;
}

.supportTypesGrid button:not(.active) .subtitle {
  color: #b1b1b1;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: center;
  max-width: 1100px;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

.package {
  padding: 3.4rem;
  flex: 1 1 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.columns .package:nth-child(1) {
  border-right: solid 1px #a5a5a578;
}

.package h3 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  font-weight: 800;
  line-height: 30px;
}

.package h3 span {
  color: #cf0031;
}

.package .price {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  color: #cf0031;
  font-family: 'nunito';
}

.package .price span {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #757575;
  font-family: 'Manrope';
}

.package ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.5rem;
}

.package li {
  margin-bottom: 0.6rem;
  font-size: 1.15rem;
  font-weight: 500;
}

.check {
  color: #cf0031;
  margin-right: 0.5rem;
  font-weight: bold;
}

.package button {
  padding: 0.7rem 1.2rem;
  background-color: #cf0031;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  width: 200px;
  margin-top: auto;
}

.package button:hover {
  box-shadow: 0 2px 30px #cf0031;
  transition: all 0.3s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  margin-top: 2rem;
}

.form input,
.form textarea {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 0.7rem 1.2rem;
  background-color: #cf0031;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}

.checkboxConsent {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
  margin-top: 1rem;
}

.checkboxConsent input[type="checkbox"] {
  margin-top: 0.2rem;
  cursor: pointer;
}

.checkboxConsent a {
  color: #cf0031;
  text-decoration: underline;
}

/* LAPTOPY max 1440px */
@media (max-width: 1440px) {
  .columns {
    margin: 0rem 2.5rem;
  }

  .package .price {
    font-size: 2.2rem;
  }

  .package li {
    font-size: 1.05rem;
  }
}

/* TABLETY max 1024px */
@media (max-width: 1025px) {

  .supportTypesGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    color: #b1b1b1;
  }

  .supportTypesGrid button{
    margin-left: auto;
    margin-right: auto;
  }

  .columns .package:nth-child(1) {
    border-right: solid 0px #a5a5a5;
  }

  .package {
    padding: 2rem 1rem;
  }

  .package .price {
    font-size: 2rem;
  }
}

/*  TELEFONY max 767px */
@media (max-width: 767px) {
  .columns {
    margin: 0rem 1rem;
  }
  .supportTypesGrid button{
    min-width: 90%;
  }

  .supportButton .title {
    font-size: 1rem;
  }

  .supportButton .subtitle {
    font-size: 0.85rem;
  }

  .package h3 {
    font-size: 1.5rem;
  }

  .package .price {
    font-size: 1.7rem;
  }

  .package li {
    font-size: 0.95rem;
  }

  .form input,
  .form textarea {
    font-size: 1rem;
  }

  .form button {
    font-size: 1rem;
  }

   .package .checkbox {
    font-size: 0.85rem;
    flex-direction: row;
    align-items: flex-start;
  }

}
